obj/
logs/

tests/googletest/build
tests/obj/
tests/jmeter/
*.log

*.out
perf.*

#executables
test
webserv
cgi/cgi
tools/transformer

#wordpress
tests/websites/wordpress

#webserv conf
conf/sites-enabled/