obj/
logs/

tests/googletest/build
tests/obj/
tests/jmeter/
*.log

*.out
perf.*

#executables
test
webserv
!webserv/
cgi/cgi
tools/transformer

#wordpress
tests/websites/wordpress/

#webserv conf
conf/sites-enabled/*
!conf/sites-enabled/config_test.conf

tests/websites/config_test/uploaded/*
!tests/websites/config_test/uploaded/empty.txt

# Docker stuff
docker/webserv/source
database/
.env