obj/
logs/
bin/

*.log

*.out
perf.*

#executables
test
webserv
!webserv/
cgi/cgi

#wordpress
websites/wordpress/

websites/config_test/uploaded/*
!websites/config_test/uploaded/empty.txt

# Docker stuff
docker/webserv/source
database/
.env

.cache/

compile_commands.json
