[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git
[submodule "tests/websites/myceel"]
	path = tests/websites/myceel
	url = git@github.com:PythonGermany/myceel.git
