[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git

[submodule "tests/pythongermany_websites/myceel"]
	path = tests/pythongermany_websites/myceel
	url = git@github.com:PythonGermany/myceel.git
